body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

#board  {
  margin: 30px auto;
  border-collapse: collapse;
  cursor: default;
}

#board td {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  background: white;
  transition: background 0.2s;
}

#board td:last-child {
  border-right: none;
}

#board tr:last-child td {
   border-bottom: none
}

#board td.highlighted {
  background: #ffeb3b;
}

#board td.winner {
  background: #8bc34a;
}

#board td,
#store div {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 5em;
  user-select: none;
}

#store {
  margin: auto;
  width: 100px;
  border-bottom: 5px solid #03a9f4;
}

#store div {
  cursor: pointer;
}

#store .active {
  display: block;
}

#store :not(.active) {
  display: none;
}

button#reload {
  display: none;
  padding: 5px 20px;
  margin: 60px auto;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}